<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Simple Web using Python Flask</title>
</head>
<body>

<div style="display: flex ;  justify-content: center ;    padding-top:30px; width: auto ; "> 
<div style="display: flex ; flex-direction : column ;   padding: 21px;  ">

<div style="display: flex ; flex-direction : row; justify-content: space-evenly ; "  >
<a href="/" >Home</a>
<a href="/tech" >Technology</a>
<a href="/myid" >My ID</a>
<a href="/draw" >Draw</a> 
</div>


 
<div style=" padding: 15px ;text-align:center ;  width: 800px; ">

<h1>แนะนำสถานที่ท่องเที่ยวไทย</h1>
 
<h3>พระบรมมหาราชวังและวัดพระศรีรัตนศาสดาราม</h3>

<h4>ประวัติความเป็นมาโดยย่อ</h4>

<p style="text-align: left ; "  >พระบรมมหาราชวังเป็นพระราชนิเวศน์ที่สร้างขึ้นในรัชสมัยพระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช ในปี พ.ศ. 2325 เมื่อทรงสถาปนาเมืองหลวงขึ้นใหม่ในชัยภูมิที่เหมาะสม ณ ฝั่งตะวันออกของแม่น้ำเจ้าพระยา คือ กรุงเทพมหานครฯ 
โดยทรงพระกรุณาโปรดเกล้าฯ ให้สร้างวัดพระศรีรัตนศาสดารามและสถาปนาเป็นพระอารามหลวงในพระบรมมหาราชวัง ตามโบราณราชประเพณีที่ถือสืบมาตั้งแต่สมัยสุโขทัย และได้อัญเชิญพระพุทธมหามณีรัตนปฏิมากรจากพระวิหารน้อยวัดอรุณราชวราราม มาประดิษฐานในพระอุโบสถ</p>
 
<img src="static/grandpalace.png" width="800" height="500" alt="วัดพระศรีรัตนศาสดาราม" />
   
</div>

 


</div>

</body>
</html>


