<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Simple Web using Python Flask</title>
</head>
<body>

<div style="display: flex ;  justify-content: center ;    padding-top:30px; width: auto ; "> 
<div style="display: flex ; flex-direction : column ;   padding: 21px;  ">

   <div style="display: flex ; flex-direction : row; justify-content: space-evenly ; "  >
<a href="/" >Home</a>
<a href="/tech" >Technology</a>
<a href="/myid" >My ID</a>
<a href="/draw" >Draw</a> 
</div>




 
<div style=" padding: 15px ;text-align:center ;  width: 800px; ">


 
<div style=" padding: 15px ;text-align: center ;   ">

 
 
<div style=" display: flex ; justify-content: start;  padding: 15px ;text-align: left ;   ">

My ID is&nbsp;&nbsp;<font style="font-size: 18px ; font-weight: 800 ; ">{{ id }}</font>
 
</div>


</div>

</body>
</html>


